{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
{{     include "install/ubuntu/common/gh.sh" }}
{{   end -}}
{{ else if eq .chezmoi.os "darwin" -}}
{{   include "install/macos/common/gh.sh" }}
{{ end -}}
{{ include "install/common/gh.sh" }}
